<div class="bg-info p-2 text-dart bg-opacity-25">
    <h1>Profile</h1>
</div>
<div class="bg-info p-2 text-dark bg-opacity-10">
    <p class="fs-4">User Name: <%= user.username %> <br></p>
    <p class="fs-4">Age: <%= user.age %> <br> </p>
    <p class="fs-4">Email: <%= user.email %> <br></p>
    <p class="fs-4">SAT Score: <%= user.sat %> <br></p>
    <p class="fs-4">Dream School: <%= user.dreamschool %> <br></p>
</div>
